<!DOCTYPE html>
<html>
<head>
ข้อมูลนักศึกษา
</head>
<body>
    <form action = "http://127.0.0.1/result" method="post">
    <div class="rendered-form">
        <div class="">
            <h1 access="false" id="control-6803205">ฟอร์มจัดเก็บข้อมูลนักศึกษา</h1></div>
        <div class="formbuilder-text form-group field-student_id">
            <label for="student_id" class="formbuilder-text-label">รหัสนักศึกษา<span class="formbuilder-required">*</span><span class="tooltip-element" tooltip="ป้อนรหัสนักศึกษา">?</span></label>
            <input type="text" class="form-control" name="student_id" access="false" maxlength="9" id="student_id" title="ป้อนรหัสนักศึกษา" required="required" aria-required="true">
        </div>
        <div class="formbuilder-text form-group field-student_name">
            <label for="student_name" class="formbuilder-text-label">ชื่อ-นามสกุล<span class="tooltip-element" tooltip="ป้อนชื่อนักศึกษา">?</span></label>
            <input type="text" class="form-control" name="student_name" access="false" id="student_name" title="ป้อนชื่อนักศึกษา">
        </div>
        <div class="formbuilder-text form-group field-student_email">
            <label for="student_email" class="formbuilder-text-label">Email</label>
            <input type="text" class="form-control" name="student_email" access="false" id="student_email">
        </div>
        <button type="submit">Submit</button>
    </div>
    </form>
</body>
</html>